<div class="card2 animated zoomInDown">
<h4>Date: <%= @condition.date %></h4><br>
<h4>Max-temp: <%= @condition.max_temp %></h4><br>
<h4>Mean-temp: <%= @condition.mean_temp %></h4><br>
<h4>Min-temp:<%= @condition.min_temp %></h4><br>
<h4>Mean-visibility-miles: <%= @condition.mean_visibility_miles %></h4><br>
<h4>Mean-humidity: <%= @condition.mean_humidity %></h4><br>
<h4>Mean-wind-speed: <%= @condition.mean_wind_speed %></h4><br>
<h4>Precipitation-inches: <%= @condition.precipitation_inches %></h4><br>
</div>
