<div class="card2 animated zoomInDown">
<h4>Duration: <%= @trip.duration %></h4><br>
<h4>Start-date: <%= @trip.start_date %></h4><br>
<h4>Start-station-id: <%= @trip.start_station_id %></h4><br>
<h4>End-date:<%= @trip.end_date %></h4><br>
<h4>End-station-id: <%= @trip.end_station_id %></h4><br>
<h4>Bike-id: <%= @trip.bike_id %></h4><br>
<h4>Subscription: <%= @trip.subscription %></h4><br>
<h4>Zipcode: <%= @trip.zipcode %></h4><br>
</div>
