
<div class="cart-index">
  <%@cart.contents.each do |key, value| %>
  <div class="card animated zoomInDown">

    <%= image_tag(Item.find(key).image, size: "150x150" ) %><br/>

      <div class="container animated zoomInDown">
        <h1><%= Item.find(key).title  %></h1><br>
        <h3><%= Item.find(key).description %></h3>
        <h3>$<%= Item.find(key).price%></h3>
      <%= button_to "Delete Item From Cart", cart_path(key), method: :delete %>
      </div>

  </div>
<% end %>
</div>
