
<div class="cart-index">
  <%@cart.contents.each do |key, value| %>
  <div class="card animated zoomInDown">

    <%= image_tag(Item.find(key).image, size: "150x150" ) %><br/>

      <div class="container animated zoomInDown">
        <h1><%= Item.find(key).title  %></h1><br>
        <h3><%= Item.find(key).description %></h3>
        <h3>$<%= Item.find(key).price%>.00</h3>
        <%= button_to "Add Item", method: :post %>
        <%= button_to "Delete Item From Cart", cart_path(key), method: :delete %>
        <%= link_to image_tag("sort-up.png"), @cart.increase_item(@item) %>
        <%= link_to image_tag("sort-down.png"), @cart.decrease_item(@item) %>
      </div>

  </div>
<% end %>
<h3>Sum Of All Items: <%= @cart.total_sum %></h3>
</div>
