<% @stations.each do |station| %>
<div class="card2 animated zoomInDown">
<%= station.name %>
<%= station.latitude %>
<%= station.longitude %>
<%= station.dock_count %>
<%= station.city %>
<%= station.installation_date %>
</div>
</div>
<% end  %>
