<div class="card2 animated zoomInDown">
<h1><%= @station.name %></h1>
<h4>latitude: <%= @station.latitude %></h4>
<h4>longitude: <%= @station.longitude %></h4>
<h4>dock-count: <%= @station.dock_count %></h4>
<h4>city: <%= @station.city %></h4>
<h4>installation-date: <%= @station.installation_date %></h4>
</div>
