<h3>Edit Your Account Information</h3>
  <%= form_for @user do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username, placeholder: "#{@user.username}" %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name, placeholder: "#{@user.first_name}" %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name, placeholder: "#{@user.last_name}" %>

  <%= f.label :email %>
  <%= f.text_field :email, placeholder: "#{@user.email}" %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit 'Update Profile' %>
<% end %>
