<div class="new-user-form animated flipInX">
  <%= form_for @user do |f| %>

  <p><%= f.label :username %><br></p>
  <%= f.text_field :username %><br>

  <%= f.label :first_name %><br>
  <%= f.text_field :first_name %><br>

  <%= f.label :last_name %><br>
  <%= f.text_field :last_name %><br>

  <%= f.label :email  %><br>
  <%= f.text_field :email %><br><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br><br>

  <%= f.submit "Register" %>
</div>
  <% end %>
