<div class="icon">
  <img class="image animated flipInX" src="https://preview.ibb.co/e8FznS/icon.png" height="40px" width="40px">
</div>
  <%@lessons.each do |lesson| %>
    <div class="card animated zoomInDown">
      <%= image_tag(lesson.image, size: "150x150" ) %><br/>
      <div class="container animated zoomInDown" id="lesson_<%= lesson.id %>">
        <h1><%= lesson.title %></h1><br>
        <h3><%= lesson.description %></h3>
        <h3>$<%= lesson.price %></h3>
        <h4>Quantity:<%= lesson.quantity %></h4>
        <%= button_to "Add Item To Cart", cart_index_path(item_id: lesson.id), class: "btn btn-danger" %>
        <%= button_to "Delete Item From Cart", cart_index_path(item_id: lesson.id), class: "btn btn-danger" %>
      </div>
    </div>
<% end %>
