<div class="icon">
  <img class="image animated flipInX" src="https://preview.ibb.co/e8FznS/icon.png" height="40px" width="40px">
</div>
<%@items.each do |item| %>
<div class="card animated zoomInDown">
<%= image_tag(item.image, size: "150x150" ) %><br/>
<div class="container animated zoomInDown">
<h1><%= item.title %></h1><br>
<h3><%= item.description %></h3>
<h3>$<%= item.price %></h3>
<h4>Quantity:<%= item.quantity %></h4>
  <%= button_to "Add Item", carts_path(item_id: item.id), class: "btn btn-danger" %>
  <%= button_to "Delete Item", carts_path(item_id: item.id), class: "btn btn-danger" %>
</div>
</div>
<% end %>
