<div class="icon">
  <img class="image animated flipInX" src="https://preview.ibb.co/e8FznS/icon.png" height="40px" width="40px">
</div>
  <%@accessories.each do |accessory| %>
    <div class="card animated zoomInDown">
      <%= image_tag(accessory.image, size: "150x150" ) %><br/>
      <div class="container animated zoomInDown" id="accessory_<%= accessory.id %>">
        <h1><%= accessory.title %></h1><br>
        <h3><%= accessory.description %></h3>
        <h3>$<%= accessory.price %></h3>
        <h4>Quantity:<%= accessory.quantity %></h4>
        <%= button_to "Add Item To Cart", cart_index_path(item_id: accessory.id), class: "btn btn-danger" %>
        <%= button_to "Delete Item From Cart", cart_index_path(item_id: accessory.id), class: "btn btn-danger" %>
      </div>
    </div>
<% end %>
